body{
    background-color: #0b3a5e;
}



.prest{
    color:white;
}


#flecheColor{
    position: absolute;
    top: 69px;
    left: 2%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-header h1 {
    color: white;
    font-weight: 700;
    font-size: 3.4rem !important;
    text-align: center;
}
.page-header{

    margin-bottom: 0;
    border-bottom: 0;
    background-color:#28a4c9;

}
.orangeBox{
    background-color: orange;
    width: 100%;
    height: 20px;
}

#containerListeP{
    background-color: #28a4c9;
    margin-top: 3%;


}

.tailleImage{
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.tailleThumb{
    margin-top: 2%;
    margin-bottom: 2%;
}

.detailPrest{
    list-style-type: none;
}
.afficherDetailsPrestation{
    position: absolute;
    left: 3%;
    margin-left:5%;
    background-color:#28a4c9;
}
.imagePrest{
    position: absolute;
    border-image: 4%;
    top: 55%;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.explication{
    padding: 1%;
    margin-top: 2%;
    margin-right: 2%;
    border-style: dotted;
    border-color: blue;
}
.explication1 {
    padding: 1%;
    margin-top: 2%;
    margin-left: 0;
    margin-right: 2%;
    border-style: dotted;
    border-color: blue;
}

